<div style="background-color:#fff;padding-bottom:20px;border-radius:3px;" class="personal_page">
    <div class="wrap_cart">
        <div class="cart_top cart_top_camon">&nbsp;</div>
        
        <div class="thanks_wrap">
            <div class="thank_content">
			<h2>Bạn đã đặt hàng thành công!</h2>
                  <div class="thank_row">
                    <span class="thank_r_ico"><img src="/include/template/{$INI['skin']['template']}/css/images/v_ico.png" alt=""></span>
                    <span class="thank_r_title">Nhân viên giao hàng của chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất</span>
                </div>
                <div class="thank_row">
                    <span class="thank_r_ico"><img src="/include/template/{$INI['skin']['template']}/css/images/v_ico.png" alt=""></span>
                    <span class="thank_r_title">Mã đơn hàng và thông tin chi tiết đơn đã được gửi đến email của bạn!</span>
                </div>
                <div class="thank_row">
                    <span class="thank_r_ico"><img src="/include/template/{$INI['skin']['template']}/css/images/v_ico.png" alt=""></span>
                    <span class="thank_r_title">
                    	Mọi chi tiết xin vui lòng liên hệ qua Tổng Đài: <b style="color: Red;">{$INI['system']['tongdai1']}</b>
                         hoặc <b style="color: Red;">{$INI['system']['tongdai2']}</b>
                  	</span>
                </div>
            </div>
        </div>
        <div class="cart_content">
           
            
        </div>
        <!-- end div.cart_content -->
        <div class="thanhtoan_control">
            <div style="margin-left: 505px;" class="continous-shop">
                <span class="btn_ctn_b"><a href="/">Tiếp tục mua hàng</a></span>
            </div>
        </div>
        
    </div>
</div>