<div class="cart_login">
    <div style="cursor:pointer;" class="cart_title">
        <span class="c_title-ico"><img src="{$template_path}/title_ico.png" alt=""></span>
        <span style="cursor:pointer;" class="c_title_text">đăng nhập (nếu bạn đã có tài khoản)</span>
    </div>
    <div class="info_box">
        <div class="info_box_top"><img src="{$template_path}/order_box_top.png" alt=""></div>
        <div class="info_box_content">
            <div class="login_user">
                <span class="email_lg email_pass_t">Email:</span> <span class="email_input">
                    <input type="text" name="tbxEmail" id="tbxEmail">
                </span><span class="error_email"></span>
            </div>
            <div class="login_pass">
                <span class="pass_lg email_pass_t">Mật khẩu:</span>
                <span class="pass_input"><input type="password" name="tbxPass" id="tbxPass"></span> <span class="error_pass"></span>
            </div>
            <div class="login_control">
            	<span class="loss_password"><a href="#">Quên mật khẩu</a></span> 
                <span class="loginbtn"><a href="Javascript:">Đăng nhập</a></span>
            </div>
        </div>
        <!-- end div.info_box_content -->
        <div class="info_box_bottom"><img src="{$template_path}/order_box_bottom.png" alt=""></div>
    </div>
    <!-- end div.info_box -->
</div>
