<div id="ftw">
	<div id="ft">
		
		<ul>
			<li class="col" style="height: 48px;">
				<img src="/include/template/{$INI['skin']['template']}/css/images/logo.png" width="200">
			</li>
		</ul>
		<div class="copyright">
			<p><span>2011</span>&nbsp;
			{$INI['system']['companyname']}<br>
			{$INI['system']['address']}<br>
			Điện thoại: {$INI['system']['tel']} - Fax: {$INI['system']['fax']} - Email <a href="mailto:{$INI['system']['email']}">{$INI['system']['email']}</a><br>
			{$INI['system']['sitename']} được phát triển bởi <a href="http://thietketrangchu.com">ThietKeTrangChu<sup>&reg</sup></a>
			</p>
		</div>
	</div>
</div>
<!--{include manage_html_footer}-->
