<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="partner">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_system('option')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Cài đặt tuỳ chọn</h2></div>
                <div class="sect">
                    <form method="post">
						<div class="wholetip clear"><h3>1. Tuỳ chọn danh mục</h3></div>
						<div class="field">
                            <label>Danh mục 1</label>
							<select name="option[cate_name1]" class="f-input" style="width:150px;">
                            	${Utility::Option($cate, $INI['option']['cate_name1'],'Tắt')}
                           	</select>
                            <label>Số lượng sản phẩm</label>
                            <input type="text" size="3" name="option[cate_quantity1]" class="number" value="{$INI['option']['cate_quantity1']}" style="width:140px"/>
                        </div>
						<div class="field">
                            <label>Danh mục 2</label>
							<select name="option[cate_name2]" class="f-input" style="width:150px;">
                            	${Utility::Option($cate, $INI['option']['cate_name2'],'Tắt')}
                           	</select>
                            <label>Số lượng sản phẩm</label>
                            <input type="text" size="3" name="option[cate_quantity2]" class="number" value="{$INI['option']['cate_quantity2']}" style="width:140px"/>
                        </div>
						<div class="field">
                            <label>Danh mục 3</label>
							<select name="option[cate_name3]" class="f-input" style="width:150px;">
                            	${Utility::Option($cate, $INI['option']['cate_name3'],'Tắt')}
                           	</select>
                            <label>Số lượng sản phẩm</label>
                            <input type="text" size="3" name="option[cate_quantity3]" class="number" value="{$INI['option']['cate_quantity3']}" style="width:140px"/>
                        </div>
						<div class="field">
                            <label>Danh mục 4</label>
							<select name="option[cate_name4]" class="f-input" style="width:150px;">
                            	${Utility::Option($cate, $INI['option']['cate_name4'],'Tắt')}
                           	</select>
                            <label>Số lượng sản phẩm</label>
                            <input type="text" size="3" name="option[cate_quantity4]" class="number" value="{$INI['option']['cate_quantity4']}" style="width:140px"/>
                        </div>
						<div class="field">
                            <label>Danh mục 5</label>
							<select name="option[cate_name5]" class="f-input" style="width:150px;">
                            	${Utility::Option($cate, $INI['option']['cate_name5'],'Tắt')}
                           	</select>
                            <label>Số lượng sản phẩm</label>
                            <input type="text" size="3" name="option[cate_quantity5]" class="number" value="{$INI['option']['cate_quantity5']}" style="width:140px"/>
                        </div>
						<div class="field">
                            <label>Danh mục 6</label>
							<select name="option[cate_name6]" class="f-input" style="width:150px;">
                            	${Utility::Option($cate, $INI['option']['cate_name6'],'Tắt')}
                           	</select>
                            <label>Số lượng sản phẩm</label>
                            <input type="text" size="3" name="option[cate_quantity6]" class="number" value="{$INI['option']['cate_quantity6']}" style="width:140px"/>
                        </div>
						<div class="field">
                            <label>Danh mục 7</label>
							<select name="option[cate_name7]" class="f-input" style="width:150px;">
                            	${Utility::Option($cate, $INI['option']['cate_name7'],'Tắt')}
                           	</select>
                            <label>Số lượng sản phẩm</label>
                            <input type="text" size="3" name="option[cate_quantity7]" class="number" value="{$INI['option']['cate_quantity7']}" style="width:140px"/>
                        </div>
						<div class="field">
                            <label>Danh mục 8</label>
							<select name="option[cate_name8]" class="f-input" style="width:150px;">
                            	${Utility::Option($cate, $INI['option']['cate_name8'],'Tắt')}
                           	</select>
                            <label>Số lượng sản phẩm</label>
                            <input type="text" size="3" name="option[cate_quantity8]" class="number" value="{$INI['option']['cate_quantity8']}" style="width:140px"/>
                        </div>
						<div class="field">
                            <label>Danh mục 9</label>
							<select name="option[cate_name9]" class="f-input" style="width:150px;">
                            	${Utility::Option($cate, $INI['option']['cate_name9'],'Tắt')}
                           	</select>
                            <label>Số lượng sản phẩm</label>
                            <input type="text" size="3" name="option[cate_quantity9]" class="number" value="{$INI['option']['cate_quantity9']}" style="width:140px"/>
                        </div>
						<div class="field">
                            <label>Danh mục 10</label>
							<select name="option[cate_name10]" class="f-input" style="width:150px;">
                            	${Utility::Option($cate, $INI['option']['cate_name10'],'Tắt')}
                           	</select>
                            <label>Số lượng sản phẩm</label>
                            <input type="text" size="3" name="option[cate_quantity10]" class="number" value="{$INI['option']['cate_quantity10']}" style="width:140px"/>
                        </div>
						<div class="field">
                            <label>Danh mục 11</label>
							<select name="option[cate_name11]" class="f-input" style="width:150px;">
                            	${Utility::Option($cate, $INI['option']['cate_name11'],'Tắt')}
                           	</select>
                            <label>Số lượng sản phẩm</label>
                            <input type="text" size="3" name="option[cate_quantity11]" class="number" value="{$INI['option']['cate_quantity11']}" style="width:140px"/>
                        </div>
						<div class="field">
                            <label>Danh mục 12</label>
							<select name="option[cate_name12]" class="f-input" style="width:150px;">
                            	${Utility::Option($cate, $INI['option']['cate_name12'],'Tắt')}
                           	</select>
                            <label>Số lượng sản phẩm</label>
                            <input type="text" size="3" name="option[cate_quantity12]" class="number" value="{$INI['option']['cate_quantity12']}" style="width:140px"/>
                        </div>
					

						<div class="act">
                            <input type="submit" value="Lưu" name="commit" class="formbutton" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
